---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 19px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> About </h3>

<p class="small-text"> 이 페이지는 HSF 운영팀에 대한 정보와 그동안 참여했던 사람들의 명단을 소개합니다. </p> 

<hr>

<p class="medium-text"> HSF 운영팀 </p>
<p class="small-text"> 한동대학교 전산전자공학부 남재창 교수 jcnam@handong.edu </p> 
<p class="small-text"> 한동대학교 전산전자공학부 김동규 학생 kdg1941@handong.ac.kr </p> 



<hr>
<p class="medium-text"> Incubating / Featured Project </p>
<p class="small-text"> 여기에서는 Incubating project와 Featured project의 차이점에 대해서 설명합니다. </p> 

<p> <br>     </p>

<p class="Lmedium-text"> Incubating Project란? </p> 
<p class="small-text"> Incubating project는 HSF에 참여하려는 초기 단계의 프로젝트를 의미합니다. </p> 
<p class="small-text"> 이 프로젝트들은 아직 Featured Project만큼 활발하게 소통과 개발이 이루어지고 있는 프로젝트가 아닙니다. HSF 내에서 많은 개발자들이 상호작용하여 프로젝트의 규모를 키우고, Featured Project로 올라갈 수 있습니다. </p>
<p> <br>     </p>


<!-- <table border="1">
  <tr>
    <th>헤더 1</th>
    <th>헤더 2</th>
  </tr>
  <tr>
    <td>행 1, 열 1</td>
    <td>행 1, 열 2</td>
  </tr>
  <tr>
    <td>행 2, 열 1</td>
    <td>행 2, 열 2</td>
  </tr>
</table> -->
