---
layout: archive
---

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>
<div>
  <h3> Becomming a Contributor </h3>
  <p class="small-text"> 이 페이지는 HSF를 처음 접하여, Contributor에 대해서 잘 알지 못하는 사람들을 위한 페이지입니다. </p>

  <hr>
  <p class="medium-text"> Contributor가 무엇인가요? </p>
  <p class="small-text"> Contributor는 넓은 범위의 사람들을 포괄하는 단어입니다. </p>

  <p class="small-text"> 가장 간단한 형태로 프로젝트에 관심을 가지는 단계부터 시작하여 실제 코드를 작성하고 새로운 기능을 제공하는 것까지 
    <br> 소프트웨어 프로젝트 모든 단계를 걸쳐 참여하는 사람을 의미합니다.
  </p>

  
  <p class="medium-text"> 누가 참여할 수 있나요? </p>
  <p class="small-text"> 한동 구성원이라면 그 누구라도 Contributor로 참여가 가능합니다. <br> </p>

  <hr>

  <p class="medium-text"> Committer가 무엇인가요? </p>
  <p class="small-text"> Committer는 Contributor보다 더 강한 권한을 가집니다. Committer는 여러 개의 프로젝트에 걸쳐서 작업을 하는 것이 아닌 
    <br> 하나의 프로젝트에 전념하여 그 프로젝트가 성공하고 발전할 수 있도록 노력하는 사람들입니다.
  </p>

  <p class="small-text"> HSF를 운영하는 팀의 판단 하에 여러 프로젝트에 걸쳐 많은 도움을 주는 Contributor를 Committer로 초대합니다. 
  </p>

  <hr>

  <p class="medium-text"> HSF의 지향점은 무엇인가요? </p>
  <p class="small-text"> HSF의 기본적인 목표는 활성화 되어있는 한동 내 개발자 커뮤니티를 만드는 것입니다. 개발을 하다가 보면, 지치고 힘든 순간이 <br>찾아오지만
    재밌고 유익한 커뮤니티 형성을 통해 수많은 오픈소스 프로젝트들이 발전하는 커뮤니티를 지향합니다.
  </p>

  
  
  
</div>


{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>
          <a href="#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ category[0] }}</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in category.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
