---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 18px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> github에 관하여 </h3>

<p class="small-text"> 이 페이지는 HSF에 개발자들을 위한 github 자료를 제공합니다.  </p> 

<p class="small-text"> 깃허브에 대한 정확한 정보를 통해 보다 오픈소스 개발 중 발생할 수 있는 일들을 방지하는 것을 목표로 둡니다. </p> 

<hr>

<div>
  <p class="medium-text"> 깃허브가 무엇인가요? </p>

  <p class="small-text"> 깃허브(GitHub)는 소프트웨어 개발자들이 소스 코드를 공유하고 협업하기 위한 플랫폼입니다. </p> 
  <p class="small-text"> 깃(Git)이라는 버전 관리 시스템을 사용하여 프로젝트의 여러 버전을 관리할 수 있게 해주며, 개발자들이 코드를 저장하고, 추적하며, 변경 사항을 다른 사용자들과 공유할 수 있게 해줍니다. </p> 
  <p class="small-text"> 깃허브는 오픈 소스 프로젝트부터 개인 프로젝트까지 다양한 종류의 소프트웨어 개발 프로젝트를 지원합니다. </p> 
</div>

<hr>

<div>
  <p class="medium-text"> Code Management </p>

  

  <p class="small-text"> 깃허브(GitHub)는 소프트웨어 개발자들이 소스 코드를 공유하고 협업하기 위한 플랫폼입니다. </p> 
  <p class="small-text"> 깃(Git)이라는 버전 관리 시스템을 사용하여 프로젝트의 여러 버전을 관리할 수 있게 해주며, 개발자들이 코드를 저장하고, 추적하며, 변경 사항을 다른 사용자들과 공유할 수 있게 해줍니다. </p> 
  <p class="small-text"> 깃허브는 오픈 소스 프로젝트부터 개인 프로젝트까지 다양한 종류의 소프트웨어 개발 프로젝트를 지원합니다. </p> 
</div>
<hr>






<!-- <table border="1">
  <tr>
    <th>헤더 1</th>
    <th>헤더 2</th>
  </tr>
  <tr>
    <td>행 1, 열 1</td>
    <td>행 1, 열 2</td>
  </tr>
  <tr>
    <td>행 2, 열 1</td>
    <td>행 2, 열 2</td>
  </tr>
</table> -->
