---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 18px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> github에 관하여 </h3>

<p class="small-text"> 이 페이지는 HSF에 개발자들을 위한 github 자료를 제공합니다.  </p> 

<p class="small-text"> 깃허브에 대한 정확한 정보를 통해 보다 오픈소스 개발 중 발생할 수 있는 일들을 방지하는 것을 목표로 둡니다. </p> 

<hr>

<div>
  <p class="medium-text"> 깃허브가 무엇인가요? </p>

  <p class="small-text"> 깃허브(GitHub)는 소프트웨어 개발자들이 소스 코드를 공유하고 협업하기 위한 플랫폼입니다. </p> 
  <p class="small-text"> 깃(Git)이라는 버전 관리 시스템을 사용하여 프로젝트의 여러 버전을 관리할 수 있게 해주며, 개발자들이 코드를 저장하고, 추적하며, 변경 사항을 다른 사용자들과 공유할 수 있게 해줍니다. </p> 
  <p class="small-text"> 깃허브는 오픈 소스 프로젝트부터 개인 프로젝트까지 다양한 종류의 소프트웨어 개발 프로젝트를 지원합니다. </p> 
</div>

<hr>

<div>
  <p class="medium-text"> Code Management </p>
  <img src="/assets/github1.png">
  

  <p class="small-text"> 깃허브의 Code Management 기능은 간단하게 새로운 저장소(repository)를 만드는 기능입니다. </p> 
  <p class="small-text"> Public/Private로 나눌 수 있지만, 깃허브는 오픈소스를 지향하는 플랫폼이기에 Public repository에 더 많은 기능을 지원합니다. </p> 
</div>
<hr>

<div>
  <p class="medium-text"> Github Actions </p>

  <p class="small-text"> 깃허브 액션(github action)은 깃허브에서 제공하는 CI/CD 자동화 도구입니다.</p> 
  <p class="small-text"> 코드 커밋, PR, 이슈 생성 등 여러가지 이벤트에 반응하여 자동으로 반복적인 작업(빌드, 테스트, 배포)을 수행할 수 있습니다. </p> 

  <img src="/assets/github2.png">

  <p class="small-text"> 이 그림처럼 빌드와 배포의 작업을 매 push 작업마다 자동으로 실행시킬 수 있게 도와줍니다. </p> 

  <p class="small-text"> 깃허브에서 기본적으로 제공하는 내용 뿐만 아니라 프로젝트마다 커스터마이징하여 사용하는 것도 가능합니다. 깃허브 액션의 워크플로우는 ".github/workflows" 의 디렉토리 안에 YAML 파일의 형식으로 정의됩니다. </p> 
  <img src="/assets/github3.png">
  <p class="small-text"> 이 그림은 워크플로우 커스터마이징의 한 예시입니다. 좋지 않은 PR이 발생할 경우에 처리하는 것에 대해 다루고 있습니다. </p> 
  
  <p class="small-text"> 이러한 워크플로우 파일에서는 실행할 작업과 조건, 환경 등에 대해서 세밀하게 지정할 수 있습니다. </p> 
</div>
<hr>

<div>
  <p class="medium-text"> Github Packages </p>

  <p class="small-text"> 깃허브 패키지(github package)는 깃허브의 패키지 호스팅 서비스로, 소프트웨어 패키지를 호스팅하고 공유하며, 버전을 관리하는데 사용됩니다. 깃허브 생태계 개발자들이 소스코드 뿐만 아니라 패키지를 함께 관리할 수 있도록 도와줍니다. </p> 
  <p class="small-text"> npm, nuGet, Maven, RubyGems, Docker 등 여러가지 패키지 관리 시스템과 통합됩니다. </p> 


  <p class="small-text"> 가장 먼저 패키지를 호스팅할 원격 저장소를 설정해야 하고, 해당 패키지의 구성 파일에 저장소를 지정하고 인증하여 사용할 수 있습니다. 예를 들어, npm을 사용해서 게시하려면 다음과 같은 단계를 따를 수 있습니다.</p> 
  
  <p class="small-text"> 원격 저장소를 만든 뒤, npm 프로젝트에서 package.json 파일을 찾습니다. </p> 
  <p class="small-text"> package.json 파일 안에 publishConfig 필드를 추가하여 어느 저장소에 배포할 것인지를 지정해줍니다. </p> 
  <p class="small-text"> 깃허브에 인증하고, 마지막에 npm publish 명령어를 사용해 깃허브 패키지에 게시할 수 있습니다. </p> 
</div>
<hr>

<div>
  <p class="medium-text"> Code Review </p>

  <p class="small-text"> 코드 리뷰(code review)는 깃허브에서 제공하는 시각적인 기능입니다. </p> 

  <img src="/assets/github4.png">
  


  <p class="small-text"> 위 그림처럼 모든 커밋에 대해 시각적으로 도움을 제공합니다. 새로 추가되거나 변경된 사항들은 초록색, 변경되기 전 원래 사항들은 빨간색으로 표시됩니다. </p> 
  
  <p class="small-text"> 이처럼 모든 커밋에 대해서 변동사항을 확인하여 개발자들끼리의 의사소통을 더 수월하게 진행할 수 있습니다. </p> 
</div>
<hr>






<!-- <table border="1">
  <tr>
    <th>헤더 1</th>
    <th>헤더 2</th>
  </tr>
  <tr>
    <td>행 1, 열 1</td>
    <td>행 1, 열 2</td>
  </tr>
  <tr>
    <td>행 2, 열 1</td>
    <td>행 2, 열 2</td>
  </tr>
</table> -->
