---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 19px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> Learn </h3>

<p class="small-text"> 이 페이지는 HSF에 대해 알고싶었지만 질문하기 어려웠던 모든 것들에 대한 개요를 제공합니다. </p> 

<a href="#hsf"> <p class="small-text"> Handong Software Foundation이 무엇인가요? </p> </a>
<a href="#structure"> <p class="small-text"> HSF의 구조는 어떻게 되어있나요? </p> </a>

<hr>



<div id="hsf">
  <p class="medium-text"> Handong Software Foundation이 무엇인가요? </p>
  <p class="small-text"> HSF는 한동대학교에서 시작된 오픈소스 프로젝트 플랫폼입니다. </p> 
  <p class="small-text"> 소프트웨어에 적용된 Handong 브랜드를 통해 다른 조직에 의해 남용되지 않도록 프로젝트를 보호합니다. </p>   
</div>

<hr>

<div id="structure">
  <p class="medium-text"> HSF의 구조는 어떻게 되어있나요? </p>
  <p class="small-text"> HSF는 하나의 단일 문화를 강요하는 것보다 마찰을 줄이고 다양성이 나타날 수 있도록 각각의 프로젝트를 의사 결정 조직으로 인정합니다. </p> 
  <p class="small-text"> 각 프로젝트는 소프트웨어 개발에 대한 권한을 가지며 자체 기술 헌장 및 관리 규칙을 설계하는 권한도 가지게 됩니다. </p>   

  <p class="small-text"> 하지만 HSF 내부의 프로젝트들은 모두가 비슷한 유사성을 띄고, HSF 플랫폼 자체의 문화를 따릅니다. </p>   

  <p class="medium-text"> HSF의 운영 구조는 다음과 같습니다. </p>

  <p class="small-text"> HSF는 HSF 운영팀, PMC(Project Management Committee)로 구성됩니다.</p>   
</div>





<hr>

<p> <br>     </p>


<!-- <table border="1">
  <tr>
    <th>헤더 1</th>
    <th>헤더 2</th>
  </tr>
  <tr>
    <td>행 1, 열 1</td>
    <td>행 1, 열 2</td>
  </tr>
  <tr>
    <td>행 2, 열 1</td>
    <td>행 2, 열 2</td>
  </tr>
</table> -->
