---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 18px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> Apache License 2.0 </h3>

<p class="small-text"> 이 페이지는 HSF에서 채택한 Apache License 2.0에 대한 간략한 소개와 사용 방법이 수록되어 있습니다. </p> 


<hr>

<p class="medium-text"> Apache License 2.0이란? </p>
<p class="small-text"> Apache License 2.0은 오픈소스 프로젝트 생태계에서 주로 사용되는 라이브러리입니다. Apache Software Foundation에서 시작된 라이선스이고 오픈소스 프로젝트 개발자를 보호하기 위한 목적을 가지고 만들어졌습니다, </p> 

<p class="small-text"> Apache License 2.0은 2차 배포에 대한 코드 공개 의무와 같은 규정이 존재하지 않습니다. 하지만 저작권에 관해서 원작자에게 저작권이 있다고 공지를 해야하는 의무는 존재합니다. </p> 






