---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 18px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> Apache License 2.0 </h3>

<p class="small-text"> 이 페이지는 HSF에서 채택한 Apache License 2.0에 대한 간략한 소개와 사용 방법이 수록되어 있습니다. </p> 


<hr>

<p class="medium-text"> Apache License 2.0이란? </p>
<p class="small-text"> Apache License 2.0은 오픈소스 프로젝트 생태계에서 주로 사용되는 라이브러리입니다. Apache Software Foundation에서 시작된 라이선스이고 오픈소스 프로젝트 개발자를 보호하기 위한 목적을 가지고 만들어졌습니다, </p> 

<p class="small-text"> Apache License 2.0은 2차 배포에 대한 코드 공개 의무와 같은 규정이 존재하지 않습니다. 하지만 저작권에 관해서 원작자에게 저작권이 있다고 공지를 해야하는 의무는 존재합니다. </p> 

<hr>
<p class="medium-text"> 사용 방법 </p>
<p class="small-text"> HSF에 처음 프로젝트를 호스팅 한다면, 가장 먼저 프로젝트의 루트 디렉토리에 LICENSE라는 이름의 파일을 작성해야 합니다. </p> 
<p class="small-text"> LICENSE 파일에는 Apache License 2.0 원본 파일을 첨부해야 합니다. 원본 파일을 확인하고 싶다면 <a href="https://www.apache.org/licenses/LICENSE-2.0">여기</a>로 이동해주세요. </p> 

<p class="small-text"> 그런 다음, 프로젝트 모든 소스코드 파일 가장 위에 Apache License 2.0에 대한 주석을 작성해야 합니다. </p> 
<p class="small-text"> 
Copyright [연도 기입]- [HSF 기입] <br>

Licensed under the Apache License, Version 2.0 (the "License"); <br>
you may not use this file except in compliance with the License. <br>
You may obtain a copy of the License at <br> </p>

<p class="small-text"> 
     <br>
      http://www.apache.org/licenses/LICENSE-2.0 <br>
     <br>
</p>
<p class="small-text"> 
Unless required by applicable law or agreed to in writing, software<br>
distributed under the License is distributed on an "AS IS" BASIS,<br>
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br>
See the License for the specific language governing permissions and<br>
limitations under the License.<br>
</p>








