---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 19px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> Project List </h3>

<p class="small-text"> 현재 HSF에서 진행 중인 모든 프로젝트 리스트입니다. </p>

<hr>

<h2 style="color: black;"> Featured Projects</h2>

<hr>

<div>
  <h3> jChecker-engine </h3>
  <p class="small-text"> jChecker는 Java Programming Language를 사용해, 객체지향 프로그램 자동 채점을 진행하는 도구입니다. </p> 
  <p class="small-text"> 현재 한동대학교 자바 프로그래밍 언어 수업에서 사용되고 있습니다. </p> 
  <p class="small-text"><a href="https://github.com/HandongSF/jChecker-Engine" target="_blank">https://github.com/HandongSF/jChecker-Engine</a></p>

  <hr>

  <h3> WICWIU </h3>
  <p class="small-text"> WICWIU는 국내 대학 최초로 공개하는 딥러닝 오픈소스 프레임워크입니다. </p> 
  <p class="small-text"> WICWIU는 모든 API가 C++로 제공되어 메모리 및 성능 최적화에 유리합니다. 또한, 응용시스템의 개발 외에도 프레임워크 자체를 특수한 환경에 맞도록 수정 및 확장이 가능합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/WICWIU" target="_blank">https://github.com/HandongSF/WICWIU</a></p>

  <hr>

  <h3> histudy-fe </h3>
  <p class="small-text"> 스터디 그룹 웹앱 프론트엔드 프로젝트입니다. </p> 
  <p class="small-text"> 스터디 그룹 매칭과 보고서 관리 등 효과적인 UX/UI를 제공하는 것에 초점을 맞추고 있습니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/histudy-fe" target="_blank">https://github.com/HandongSF/histudy-fe</a></p>

  <hr>

  <h3> histudy-be </h3>
  <p class="small-text"> 스터디 그룹 웹앱 백엔드 프로젝트입니다. </p> 
  <p class="small-text"> 스터디 진행에 관련한 모든 백엔드 작업을 처리하는 기능을 수행합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/histudy-be" target="_blank">https://github.com/HandongSF/histudy-be</a></p>

  
</div>

<h2 style="color: black;"> Incubating Projects </h2>

<div>
  <h3> ByteTok </h3>
  <p class="small-text"> JVM의 바이트코드를 기준으로 Large Language Model을 학습하기 위한 Tokenizer입니다. </p> 
  <p class="small-text"> 자연어와 바이트코드의 차이점을 이용해 새로운 Tokenizer 기법을 연구합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/ByteTok" target="_blank">https://github.com/HandongSF/ByteTok</a></p>
</div>

<div>
  <h3> EnCus </h3>
  <p class="small-text"> EnCus는 Automated Program Repair (APR)에서 패치를 생성하기 위한 검색 공간을 맞춤화하는 새로운 접근 방식입니다. </p> 
  <p class="small-text"> 여러 오픈 소스 프로젝트 풀과 AST 수준의 코드 차이 도구로부터 수정 연산을 모아 사용하는 앙상블 방식의 접근을 활용하여 검색 공간을 줄입니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/EnCus" target="_blank">https://github.com/HandongSF/EnCus</a></p>
</div>


<div>
  <h3> Cloud Aggregator </h3>
  <p class="small-text"> Cloud Aggregator는 여러 public cloud storage를 한번에 관리할 수 있는 Go언어 기반 툴입니다. </p> 
  <p class="small-text"> 데이터 업로드 시 Reed Solomon을 통한 암호화 및 분산을 진행하여, 보안 및 사용자 편의성을 높였습니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/cloud_storage" target="_blank">https://github.com/HandongSF/cloud_storage</a></p>
</div>

<div>
  <h3> camticket-fe </h3>
  <p class="small-text"> CamTicket은 교내 공연 동아리를 위한 모바일 티켓 예매 플랫폼입니다. 관람자는 손쉽게 공연을 예매하고, 공연 관리자는 좌석 및 예약 관리를 효율적으로 할 수 있습니다. </p> 
  <p class="small-text"> 아티스트 및 공연 목록, 마이페이지, 공연/좌석 관리 등 관람자와 관리자의 주요 흐름을 고려한 직관적인 UX/UI를 설계하고 구현하였습니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/camticket-fe" target="_blank">https://github.com/HandongSF/camticket-fe</a></p>
</div>

<div>
  <h3> camticket-be </h3>
  <p class="small-text"> CamTicket은 교내 공연 동아리를 위한 모바일 티켓 예매 플랫폼입니다. 관람자는 손쉽게 공연을 예매하고, 공연 관리자는 좌석 및 예약 관리를 효율적으로 할 수 있습니다. </p> 
  <p class="small-text"> 공연 등록, 예매 처리, 예외 처리 등 공연 예매 전반에 필요한 서버 로직과 데이터 처리를 담당합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/camticket-be" target="_blank">https://github.com/HandongSF/camticket-be</a></p>
</div>

<div>
  <h3> broken-filename-fixer </h3>
  <p class="small-text"> Broken Filename Fixer는 레거시 웹사이트에서 파일 다운로드 시 발생하는 파일명 깨짐 문제를 자동으로 복원하는 브라우저 확장 프로그램입니다. </p> 
  <p class="small-text"> 깨진 한글이나 숫자 코드 형태의 파일명을 정상적인 이름으로 바꿔, 별도 수정 없이 바로 사용할 수 있도록 돕습니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/broken-filename-fixer" target="_blank">https://github.com/HandongSF/broken-filename-fixer</a></p>
</div>


<h2 style="color: black;"> Corpus </h2>
<div>
  <h3> KoreanUnificationParallelCorpus </h3>
  <p class="small-text"> 북한과 남한은 같은 한국어를 사용하지만 분단으로 인해 그 형태가 많이 달라졌습니다. </p> 
  <p class="small-text"> 해당 차이를 극복하기 위해서 여러 단어와 문장에 대한 데이터셋을 확보하여 추후 연구에 사용될 수 있도록 합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/KoreanUnificationParallelCorpus" target="_blank">https://github.com/HandongSF/KoreanUnificationParallelCorpus</a></p>
</div>


<h2 style="color: black;"> Human Level Robot Intelligence (HLRI) </h2>
<div>
  <h3> hlri-ao </h3>
  <p class="small-text"> AO는 Human-Level Robot Intelligence(HLRI) 환경에서 다수의 AI 에이전트가 유기적으로 협력하도록 조정하는 Agent Orchestration 레이어입니다. </p> 
  <p class="small-text"> 각 에이전트의 실행 흐름과 협업을 관리하여, 복잡한 환경에서도 로봇이 일관된 지능적 행동을 수행할 수 있도록 합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/hlri-ao" target="_blank">https://github.com/HandongSF/hlri-ao</a></p>
</div>


<div>
  <h3> hlri-iua </h3>
  <p class="small-text"> IUA는 Human-Level Robot Intelligence(HLRI) 환경에서 사람과의 상호작용을 담당하는 멀티모달 로보틱스 시스템입니다. </p> 
  <p class="small-text"> 실시간 비전과 학습 기반 인식 기술을 통해 사용자를 인식·기억하며, 병렬 구조를 통해 빠른 반응성과 안정적인 상호작용을 제공합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/hlri-iua-motirobotics" target="_blank">https://github.com/HandongSF/hlri-iua-motirobotics</a></p>
</div>


<div>
  <h3> hlri-isa </h3>
  <p class="small-text"> ISA는 Human-Level Robot Intelligence(HLRI) 환경에서 Zero-shot 기반 공간 적응과 내비게이션을 담당하는 전용 모듈입니다. </p> 
  <p class="small-text"> 사전 재훈련 없이도 새로운 공간에 즉시 적응하여, 다양한 환경에서 안정적인 로봇 이동을 가능하게 합니다. </p> 
  
  <p class="small-text"><a href="https://github.com/HandongSF/hlri-isa-cgv" target="_blank">https://github.com/HandongSF/hlri-isa-cgv</a></p>
</div>
