---
layout: archive
---

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.Lmedium-text {
    font-size: 19px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> Project List </h3>

<p class="small-text"> 현재 HSF에서 진행 중인 모든 프로젝트 리스트입니다. </p>

<hr>
<div>
  <h3> jChecker-engine </h3>
  <p class="small-text"> jChecker는 Java Programming Language를 사용해, 객체지향 프로그램 자동 채점을 진행하는 도구입니다. </p> 
  <p class="small-text"> 현재 한동대학교 자바 프로그래밍 언어 수업에서 사용되고 있습니다. </p> 
  <p class="small-text"> https://github.com/HandongSF/jChecker-Engine </p> 

  <hr>

  <h3> WICWIU </h3>
  <p class="small-text"> WICWIU는 국내 대학 최초로 공개하는 딥러닝 오픈소스 프레임워크입니다. </p> 
  <p class="small-text"> WICWIU는 모든 API가 C++로 제공되어 메모리 및 성능 최적화에 유리합니다. 또한, 응용시스템의 개발 외에도 프레임워크 자체를 특수한 환경에 맞도록 수정 및 확장이 가능합니다. </p> 
  <p class="small-text"> https://github.com/HandongSF/WICWIU </p> 

  
</div>




