---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.initial-content {
  padding-left: 20px;  // 좌측 패딩을 20px로 조정
  padding-right: 20px; // 우측 패딩을 20px로 조정
}


h1 {
  color: #06326E; /* 이 부분에 원하는 색상 코드를 사용하세요 */
}

