---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>


{% include paginator.html %}

<h3> HSF란? </h3>

<p class="small-text">Handong Software Foundation의 약자로, 한동대학교에서 진행되는 프로젝트의 수명이 끝나는 것을 막고<br>학생들이 오픈소스 프로젝트 개발자로 성장하는 것을 돕는 플랫폼입니다.</p> 

<div>
  <hr>  
</div>


<div>
  <h3> HSF에는 어떤 프로젝트들이 있나요? </h3>
  <p class="small-text">HSF의 프로젝트는 크게 2가지로 나뉩니다.</p>

  <div style="padding-top: 15px;">
    <p class="medium-text">Incubating Projects</p>
    <p class="small-text">Incubating Project는 HSF에서 관리하는 프로젝트 중, 초기단계에 해당하는 프로젝트에 해당합니다. <br> 다양한 선배 개발자들의 도움을 얻고 성장하는 프로젝트들이고, 누구나 참여할 수 있습니다.</p>

  </div>
  <div style="padding-top: 15px;">

    <p class="medium-text">Featured Projects</p>
    <p class="small-text">Featured Project는 HSF의 프로젝트 중, 초기단계를 지나 활성화되어 개발되고 있는 프로젝트입니다.</p>

    <p class="small-text">Incubating/Featured Project에 대해서 더 알아보고 싶다면 <a href="/_pages/projects"> 여기</a>로 이동해주세요.</p>
  </div>
   
</div>

<div>
  <hr>  
</div>

<div>
  <h3> HSF는 왜 필요한가요? </h3>
  <p class="small-text">HSF는 ASF(Apache Software Foundation)를 벤치마킹하여 시작된 플랫폼으로 오픈소스 소프트웨어 개발과 교육 목적으로 시작됐습니다.</p>

  <p class="small-text">(1) 모체 기관인 한동대학교 학회/동아리, 수업에서 진행되는 소프트웨어 프로젝트를 인큐베이팅하여, 지속 가능한 오픈소스 프로젝트로 유치하고, 한동대학교 학생들이 오픈소스 프로젝트 참여 개발자로 성장하는 것을 목표로 합니다.
<br/>(2) 더 나아가 사회문제 및 중소기업이 가지고 있는 많은 문제를 소프트웨어 기술로 활용하여 해결할 수 있는 오픈소스 프로젝트를 발굴하여, 누구나 사용할 수 있는 가치 있고 세상을 바꾸는 소프트웨어를 개발, Why not Change the World?라는 한동대학교의 모토를 추구합니다.
<br/>
    (3) 한국에서 활동하는 오픈소스 개발자들을 하나로 묶어, 한국형 오픈 소스 커뮤니티를 구축, 국제적으로 경쟁력 있는 오픈소스 소프트웨어 생태에 공헌 합니다.
  </p>
  
  <div style="padding-top: 15px;">
    <p class="medium-text">Contributor 알아보기</p>
    <p class="small-text">Contributor를 알아보고 싶다면 <a href="/_pages/community"> 여기</a> 로 이동해주세요.</p>

  </div>
  
  <div style="padding-top: 15px;">
    <p class="medium-text">Contributor로 시작하기</p>
    <p class="small-text">Contributor로 활동을 시작하려면 <a href="/_pages/contributor"> 여기</a> 로 이동해주세요.</p>

  </div>

   <div style="padding-top: 15px;">
    <p class="medium-text">Host a Project</p>
    <p class="small-text">새로운 프로젝트를 HSF에 호스트하여 관리하고 싶다면 <a href="/_pages/contributor"> 여기</a> 로 이동해주세요.</p>

    <hr>

  </div>
   
</div>

