---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<style>
  p.small-text {
    font-size: 17px; /* 원하는 글자 크기로 설정 */
  }
</style>

<style>
  p.medium-text {
    font-size: 21px; /* 원하는 글자 크기로 설정 */
    font-weight: bold;
  }
</style>

{% include paginator.html %}

<h3> HSF란? </h3>

<p class="small-text">Handong Software Foundation의 약자로, 한동대학교에서 진행되는 프로젝트의 수명이 끝나는 것을 막고<br>학생들이 오픈소스 프로젝트 개발자로 성장하는 것을 돕는 플랫폼입니다.</p> 

<hr>

<h3> HSF에는 어떤 프로젝트들이 있나요? </h3>
<p class="small-text">HSF의 프로젝트는 크게 2가지로 나뉩니다.</p>


<p class="medium-text">Incubating Projects</p>
<p class="small-text">HSF의 프로젝트는 크게 2가지로 나뉩니다.</p>

<p class="medium-text">Featured Projects</p>
<p class="small-text">HSF의 프로젝트는 크게 2가지로 나뉩니다.</p>
