---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Handong Software Foundation이란?" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<h3> HSF란? </h3>

<p> Handong Software Foundation의 약자로, 한동대학교에서 진행되는 프로젝트의 수명이 끝나는 것을 막고, 학생들이 오픈소스 프로젝트 개발자로 성장하는 것을 돕는 플랫폼입니다.</p>
<p> 하하</p>
<divider></divider>
<p> 어렵네</p>
